@font-face {
  font-family: 'triangle-font';
  src: url("data:application/octet-stream;base64,d09GRgABAAAAAAmwAA4AAAAAENAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABRAAAAEQAAABWe+GFAmNtYXAAAAGIAAAAOQAAAVIlzSeQY3Z0IAAAAcQAAAAUAAAAHATz/wZmcGdtAAAB2AAABPkAAAmRigp4O2dhc3AAAAbUAAAACAAAAAgAAAAQZ2x5ZgAABtwAAAA2AAAARpY+wl1oZWFkAAAHFAAAADMAAAA2/fhIi2hoZWEAAAdIAAAAHgAAACQFrANWaG10eAAAB2gAAAAMAAAADAfkAABsb2NhAAAHdAAAAAgAAAAIABIAI21heHAAAAd8AAAAHQAAACAAiwmWbmFtZQAAB5wAAAGLAAADCfxJ6S5wb3N0AAAJKAAAAC8AAABD+REakHByZXAAAAlYAAAAVgAAAFaSoZr/eJxjYGRayDiBgZWBg6mKaQ8DA0MPhGZ8wGDIyMTAwMTAysyAFQSkuaYwOKjuUj3CHPQ/iyGKKYFhGlCYESQHAPPLC9p4nGNgYGBmgGAZBkYGEPAB8hjBfBYGAyDNAYRMIAnVXapH/v9HZt1yv2UH1QUGjGwMIx4AAN90CqMAAAB4nGNgQANGDEZMCf+zQBgAElAD+3icnVXZdtNWFJU8ZHASOmSgoA7X3DhQ68qEKRgwaSrFdiEdHAitBB2kDHTkncc+62uOQrtWH/m07n09JLR0rbYsls++R1tn2DrnRhwjKn0aiGvUoZKXA6msPZZK90lc13Uvj5UMBnFdthJPSZuonSRKat3sUC7xWOsqWSdYJ+PlIFZPVZ5noAziFB5lSUQbRBuplyZJ4onjJ4kWZxAfJUkgJaMQp9LIUEI1GsRS1aFM6dCr1xNx00DKRqMedVhU90PFJ8c1p9SsA0YqVznCFevVRr4bpwMve5DEOsGzrYcxHnisfpQqkIqR6cg/dkpOlIaBVHHUoVbi6DCTX/eRTCrNQKaMYkWl7oG43f102xYxPXQ6vi5KlUaqurnOKJrt0fGogygP2cbppNzQ2fbw5RlTVKtdcbPtQGYNXErJbHSfRAAdJlLj6QFONZwCqRn1R8XZ588BEslclKo8VTKHegOZMzt7cTHtbiersnCknwcyb3Z2452HQ6dXh3/R+hdM4cxHj+Jifj5C+lBqfiJOJKVGWMzyp4YfcVcgQrkxiAsXyuBThDl0RdrZZl3jtTH2hs/5SqlhPQna6KP4fgr9TiQrHGdRo/VInM1j13Wt3GdQS7W7Fzsyr0OVIu7vCwuuM+eEYZ4WC1VfnvneBTT/Bohn/EDeNIVL+5YpSrRvm6JMu2iKCu0SVKVdNsUU7YoppmnPmmKG9h1TzNKeMzLj/8vc55H7HN7xkJv2XeSmfQ+5ad9HbtoPkJtWITdtHblpLyA3rUZu2lWjOnYEGgZpF1IVQdA0svph3Fab9UDWjDR8aWDyLmLI+upER521tcofxX914gsHcmmip7siF5viLq/bFj483e6rj5pG3bDV+MaR8jAeRnocmtBZ+c3hv+1N3S6a7jKqMugBFUwKwABl7UAC0zrbCaT1mqf48gdgXIZ4zkpDtVSfO4am7+V5X/exOfG+x+3GLrdcd3kJWdYNcmP28N9SZKrrH+UtrVQnR6wrJ49VaxhDKrwour6SlHu0tRu/KKmy8l6U1srnk5CbPYMbQlu27mGwI0xpyiUeXlOlKD3UUo6yQyxvKco84JSLC1qGxLgOdQ9qa8TpoXoYGwshhqG0vRBwSCldFd+0ynfxHqtr2Oj4xRXh6XpyEhGf4ir7UfBU10b96A7avGbdMoMpVaqn+4xPsa/b9lFZaaSOsxe3VAfXNOsaORXTT+Rr4HRvOGjdAz1UfDRBI1U1x+jGKGM0ljXl3wR0MVZ+w2jVYvs93E+dpFWsuUuY7JsT9+C0u/0q+7WcW0bW/dcGvW3kip8jMb8tCvw7B2K3ZA3UO5OBGAvIWdAYxhYmdxiug23EbfY/Jqf/34aFRXJXOxq7eerD1ZNRJXfZ8rjLTXZZ16M2R9VOGvsIjS0PN+bY4XIstsRgQbb+wf8x7gF3aVEC4NDIZZiI2nShnurh6h6rsW04VxIBds2x43QAegAuQd8cu9bzCYD13CPnLsB9cgh2yCH4lByCz8i5BfA5OQRfkEMwIIdgl5w7AA/IIXhIDsEeOQSPyNkE+JIcgq/IIYjJIUjIuQ3wmByCJ+QQfE0OwTdGrk5k/pYH2QD6zqKbQKmdGhzaOGRGrk3Y+zxY9oFFZB9aROqRkesT6lMeLPV7i0j9wSJSfzRyY0L9iQdL/dkiUn+xiNRnxpeZIymvDp7zjg7+BJfqrV4AAAAAAQAB//8AD3icY2BkAALGf0wJDEwMbJuZGBg1tAU5GRn//WNiSvjP8O8vWBpTjSpEDeO/WEYGRmYAzAkN7AAAeJxjYGRgYABi371LDeP5bb4ycDO/AIownMuTOwymc581g2jGf0wJQIqDgQnEAwA68wqkAHicY2BkYGAO+p/FEMX8ggEIGP8xMDKgAmYAZ+8ECAAAA+gAAAH+AAAB/gAAAAAAAAASACN4nGNgZGBgYAZCEM3AwAQm84BYgnMiiAkACYEBKwAAAHicfZHNSsNAFIVPaqto0YWCC1cXBFHEtA24EQSxYBF3Lrof6+SnpJkymQrFhU/hK7h17cv4LJ6kQ7FCTUjynXPPzNyZANjHNwIsrks+Cw6wS7XgBrZw63mD/r3nJnnouYU2Rp436Reed3COV89tHOCDMwTNbaoxvjwHOAqOPTewF1x73qD/4LlJ1p5bOAzePG/Sf/e8g2Hw6bmNk0arb6ZzmyWpk9P+mUTdXiRPczG0skLlomYuNbaUG4lN4XSem3BkJs5mqkhyfVGZjzqZ5cqueCtiqG2ZmUJ6YXfFH+hCW+X0c7Vi+ZJEzsUSWzORO7+WTK0Z65ELU+emV53O7x7Qh8EUc1hkSJDCQXBK94zfCF30+BY8MSFMLlIZD10hp6Mw44i0rpTUN3xiqoKuZiInh/xdBhM61WjFWkJf42KZfKRKOFPOqv0nt74ypKo6yGot7Dpk7+vzA6qiHqPqTp+XeyzxwnRUrxbXu7F194K7P/sSnltVG9MZ0Q/r03N0r9DhveYcfgAFzpP+AHicY2BigAAuBuyAmYGBkZmRhTWzJDXXgLMoMz2jRDcls4gjJzUNzGBgAACAcgivAEu4AMhSWLEBAY5ZuQgACABjILABI0SwAyNwsgQoCUVSRLIKAgcqsQYBRLEkAYhRWLBAiFixBgNEsSYBiFFYuAQAiFixBgFEWVlZWbgB/4WwBI2xBQBEAAA=") format("woff"), url("data:application/octet-stream;base64,AAEAAAAOAIAAAwBgT1MvMnvhhQIAAADsAAAAVmNtYXAlzSeQAAABRAAAAVJjdnQgBPP/BgAABsgAAAAcZnBnbYoKeDsAAAbkAAAJkWdhc3AAAAAQAAAGwAAAAAhnbHlmlj7CXQAAApgAAABGaGVhZP34SIsAAALgAAAANmhoZWEFrANWAAADGAAAACRobXR4B+QAAAAAAzwAAAAMbG9jYQASACMAAANIAAAACG1heHAAiwmWAAADUAAAACBuYW1l/EnpLgAAA3AAAAMJcG9zdPkRGpAAAAZ8AAAAQ3ByZXCSoZr/AAAQeAAAAFYAAQKhAZAABQAIAnoCvAAAAIwCegK8AAAB4AAxAQIAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABAJbolxANS/2oAWgJgAJYAAAABAAAAAAAAAAAAAwAAAAMAAAAcAAEAAAAAAEwAAwABAAAAHAAEADAAAAAIAAgAAgAAAAAluiXE//8AAAAAJbolxP//AADaR9o+AAEAAAAAAAAAAAAAAQYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAH+AmAAAgAGswIAASgrEQkBAf7+AgJg/wD+/QAAAAABAAAAAAH+AmAAAgAGswIAASgrJQkBAf7+AgH+XQEAAQMAAAABAAAAAQAATb3wGV8PPPUACwPoAAAAAM5uHsMAAAAAzm3mgwAAAAAB/gJgAAAACAACAAAAAAAAAAEAAANS/2oAWgPoAAAAAAH+AAEAAAAAAAAAAAAAAAAAAAADA+gAAAH+AAAB/gAAAAAAAAASACMAAQAAAAMAAwABAAAAAAACAAAAAABuAAAAGAmRAAAAAAAAABIA3gABAAAAAAAAADUAAAABAAAAAAABAA0ANQABAAAAAAACAAcAQgABAAAAAAADAA0ASQABAAAAAAAEAA0AVgABAAAAAAAFAAsAYwABAAAAAAAGAA0AbgABAAAAAAAKACsAewABAAAAAAALABMApgADAAEECQAAAGoAuQADAAEECQABABoBIwADAAEECQACAA4BPQADAAEECQADABoBSwADAAEECQAEABoBZQADAAEECQAFABYBfwADAAEECQAGABoBlQADAAEECQAKAFYBrwADAAEECQALACYCBUNvcHlyaWdodCAoQykgMjAxMiBieSBvcmlnaW5hbCBhdXRob3JzIEAgZm9udGVsbG8uY29tdHJpYW5nbGUtZm9udFJlZ3VsYXJ0cmlhbmdsZS1mb250dHJpYW5nbGUtZm9udFZlcnNpb24gMS4wdHJpYW5nbGUtZm9udEdlbmVyYXRlZCBieSBzdmcydHRmIGZyb20gRm9udGVsbG8gcHJvamVjdC5odHRwOi8vZm9udGVsbG8uY29tAEMAbwBwAHkAcgBpAGcAaAB0ACAAKABDACkAIAAyADAAMQAyACAAYgB5ACAAbwByAGkAZwBpAG4AYQBsACAAYQB1AHQAaABvAHIAcwAgAEAAIABmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQB0AHIAaQBhAG4AZwBsAGUALQBmAG8AbgB0AFIAZQBnAHUAbABhAHIAdAByAGkAYQBuAGcAbABlAC0AZgBvAG4AdAB0AHIAaQBhAG4AZwBsAGUALQBmAG8AbgB0AFYAZQByAHMAaQBvAG4AIAAxAC4AMAB0AHIAaQBhAG4AZwBsAGUALQBmAG8AbgB0AEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAAcwB2AGcAMgB0AHQAZgAgAGYAcgBvAG0AIABGAG8AbgB0AGUAbABsAG8AIABwAHIAbwBqAGUAYwB0AC4AaAB0AHQAcAA6AC8ALwBmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAEDAQQFaXRlbTAJcmlnaHQtZGlyCGxlZnQtZGlyAAAAAAEAAf//AA8AAAAAAAAAAAAAAAAAAAAAADIAMgJg/2oCYP9qsAAssCBgZi2wASwgZCCwwFCwBCZasARFW1ghIyEbilggsFBQWCGwQFkbILA4UFghsDhZWSCwCkVhZLAoUFghsApFILAwUFghsDBZGyCwwFBYIGYgiophILAKUFhgGyCwIFBYIbAKYBsgsDZQWCGwNmAbYFlZWRuwACtZWSOwAFBYZVlZLbACLCBFILAEJWFkILAFQ1BYsAUjQrAGI0IbISFZsAFgLbADLCMhIyEgZLEFYkIgsAYjQrIKAAIqISCwBkMgiiCKsAArsTAFJYpRWGBQG2FSWVgjWSEgsEBTWLAAKxshsEBZI7AAUFhlWS2wBCywB0MrsgACAENgQi2wBSywByNCIyCwACNCYbCAYrABYLAEKi2wBiwgIEUgsAJFY7ABRWJgRLABYC2wBywgIEUgsAArI7ECBCVgIEWKI2EgZCCwIFBYIbAAG7AwUFiwIBuwQFlZI7AAUFhlWbADJSNhRESwAWAtsAgssQUFRbABYUQtsAkssAFgICCwCUNKsABQWCCwCSNCWbAKQ0qwAFJYILAKI0JZLbAKLCC4BABiILgEAGOKI2GwC0NgIIpgILALI0IjLbALLEtUWLEHAURZJLANZSN4LbAMLEtRWEtTWLEHAURZGyFZJLATZSN4LbANLLEADENVWLEMDEOwAWFCsAorWbAAQ7ACJUKxCQIlQrEKAiVCsAEWIyCwAyVQWLEBAENgsAQlQoqKIIojYbAJKiEjsAFhIIojYbAJKiEbsQEAQ2CwAiVCsAIlYbAJKiFZsAlDR7AKQ0dgsIBiILACRWOwAUViYLEAABMjRLABQ7AAPrIBAQFDYEItsA4ssQAFRVRYALAMI0IgYLABYbUNDQEACwBCQopgsQ0FK7BtKxsiWS2wDyyxAA4rLbAQLLEBDistsBEssQIOKy2wEiyxAw4rLbATLLEEDistsBQssQUOKy2wFSyxBg4rLbAWLLEHDistsBcssQgOKy2wGCyxCQ4rLbAZLLAIK7EABUVUWACwDCNCIGCwAWG1DQ0BAAsAQkKKYLENBSuwbSsbIlktsBossQAZKy2wGyyxARkrLbAcLLECGSstsB0ssQMZKy2wHiyxBBkrLbAfLLEFGSstsCAssQYZKy2wISyxBxkrLbAiLLEIGSstsCMssQkZKy2wJCwgPLABYC2wJSwgYLANYCBDI7ABYEOwAiVhsAFgsCQqIS2wJiywJSuwJSotsCcsICBHICCwAkVjsAFFYmAjYTgjIIpVWCBHICCwAkVjsAFFYmAjYTgbIVktsCgssQAFRVRYALABFrAnKrABFTAbIlktsCkssAgrsQAFRVRYALABFrAnKrABFTAbIlktsCosIDWwAWAtsCssALADRWOwAUVisAArsAJFY7ABRWKwACuwABa0AAAAAABEPiM4sSoBFSotsCwsIDwgRyCwAkVjsAFFYmCwAENhOC2wLSwuFzwtsC4sIDwgRyCwAkVjsAFFYmCwAENhsAFDYzgtsC8ssQIAFiUgLiBHsAAjQrACJUmKikcjRyNhIFhiGyFZsAEjQrIuAQEVFCotsDAssAAWsAQlsAQlRyNHI2GwBkUrZYouIyAgPIo4LbAxLLAAFrAEJbAEJSAuRyNHI2EgsAQjQrAGRSsgsGBQWCCwQFFYswIgAyAbswImAxpZQkIjILAIQyCKI0cjRyNhI0ZgsARDsIBiYCCwACsgiophILACQ2BkI7ADQ2FkUFiwAkNhG7ADQ2BZsAMlsIBiYSMgILAEJiNGYTgbI7AIQ0awAiWwCENHI0cjYWAgsARDsIBiYCMgsAArI7AEQ2CwACuwBSVhsAUlsIBisAQmYSCwBCVgZCOwAyVgZFBYIRsjIVkjICCwBCYjRmE4WS2wMiywABYgICCwBSYgLkcjRyNhIzw4LbAzLLAAFiCwCCNCICAgRiNHsAArI2E4LbA0LLAAFrADJbACJUcjRyNhsABUWC4gPCMhG7ACJbACJUcjRyNhILAFJbAEJUcjRyNhsAYlsAUlSbACJWGwAUVjIyBYYhshWWOwAUViYCMuIyAgPIo4IyFZLbA1LLAAFiCwCEMgLkcjRyNhIGCwIGBmsIBiIyAgPIo4LbA2LCMgLkawAiVGUlggPFkusSYBFCstsDcsIyAuRrACJUZQWCA8WS6xJgEUKy2wOCwjIC5GsAIlRlJYIDxZIyAuRrACJUZQWCA8WS6xJgEUKy2wOSywMCsjIC5GsAIlRlJYIDxZLrEmARQrLbA6LLAxK4ogIDywBCNCijgjIC5GsAIlRlJYIDxZLrEmARQrsARDLrAmKy2wOyywABawBCWwBCYgLkcjRyNhsAZFKyMgPCAuIzixJgEUKy2wPCyxCAQlQrAAFrAEJbAEJSAuRyNHI2EgsAQjQrAGRSsgsGBQWCCwQFFYswIgAyAbswImAxpZQkIjIEewBEOwgGJgILAAKyCKimEgsAJDYGQjsANDYWRQWLACQ2EbsANDYFmwAyWwgGJhsAIlRmE4IyA8IzgbISAgRiNHsAArI2E4IVmxJgEUKy2wPSywMCsusSYBFCstsD4ssDErISMgIDywBCNCIzixJgEUK7AEQy6wJistsD8ssAAVIEewACNCsgABARUUEy6wLCotsEAssAAVIEewACNCsgABARUUEy6wLCotsEEssQABFBOwLSotsEIssC8qLbBDLLAAFkUjIC4gRoojYTixJgEUKy2wRCywCCNCsEMrLbBFLLIAADwrLbBGLLIAATwrLbBHLLIBADwrLbBILLIBATwrLbBJLLIAAD0rLbBKLLIAAT0rLbBLLLIBAD0rLbBMLLIBAT0rLbBNLLIAADkrLbBOLLIAATkrLbBPLLIBADkrLbBQLLIBATkrLbBRLLIAADsrLbBSLLIAATsrLbBTLLIBADsrLbBULLIBATsrLbBVLLIAAD4rLbBWLLIAAT4rLbBXLLIBAD4rLbBYLLIBAT4rLbBZLLIAADorLbBaLLIAATorLbBbLLIBADorLbBcLLIBATorLbBdLLAyKy6xJgEUKy2wXiywMiuwNistsF8ssDIrsDcrLbBgLLAAFrAyK7A4Ky2wYSywMysusSYBFCstsGIssDMrsDYrLbBjLLAzK7A3Ky2wZCywMyuwOCstsGUssDQrLrEmARQrLbBmLLA0K7A2Ky2wZyywNCuwNystsGgssDQrsDgrLbBpLLA1Ky6xJgEUKy2waiywNSuwNistsGsssDUrsDcrLbBsLLA1K7A4Ky2wbSwrsAhlsAMkUHiwARUwLQAAAEu4AMhSWLEBAY5ZuQgACABjILABI0SwAyNwsgQoCUVSRLIKAgcqsQYBRLEkAYhRWLBAiFixBgNEsSYBiFFYuAQAiFixBgFEWVlZWbgB/4WwBI2xBQBEAAA=") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape - otherwise text in landscape mobile is HUGE */ }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

.clear {
  clear: both; }

a img {
  border: none; }

body {
  background: #f2f2f2;
  font: 16px/24px Helvetica, Arial, sans-serif;
  color: #333333; }

.wrapper {
  margin: 0 auto;
  background: white;
  margin-top: 0;
  max-width: 700px;
  padding: 0 20px; }

ul {
  margin-left: 20px; }

p, p:visited, a {
  text-align: left;
  color: #333333;
  transition: color 0.5s; }

a:hover {
  color: #bfbfbf;
  transition: color 0s; }

pre, code {
  border: 1px solid #ededed;
  background: #f7f7f7;
  padding: 0 .4em;
  font-size: 14px; }

pre {
  overflow-x: scroll; }

code {
  padding: 0 .2em; }

pre code {
  border: none; }

.footer {
  font-size: 13px;
  border-top: 3px solid #f2f2f2;
  margin-top: 40px; }

.footer p {
  padding: 10px 0;
  margin: 0;
  text-align: right;
  font-size: 14px; }

svg {
  overflow: hidden; }

.logo {
  margin-bottom: 60px;
  padding-top: 5px; }

.header {
  border-bottom: 3px solid #f2f2f2;
  margin-bottom: 3%; }

.logo img {
  transition: opacity 0.7s; }

.logo img:hover {
  opacity: 0.33;
  transition-duration: 0; }

.header h2 {
  color: #333333;
  font-size: 18px;
  margin-bottom: 5px; }

.pagination, .pagination a {
  font-family: triangle-font, Arial, sans-serif;
  text-align: center;
  font-size: 60px;
  color: #e5e5e5;
  text-decoration: none;
  transition: color 0.5s; }

.pagination span {
  color: #f2f2f2; }

.pagination a:hover {
  color: #333333;
  transition: color 0s; }

.posts {
  list-style-type: none;
  margin-bottom: 20px;
  margin-left: 0px;
  overflow: auto; }

.posts li {
  float: left;
  /*3 of width & 2 of margin must equal 100% */
  width: 31%;
  margin: 0 0 3.5% 3.5%;
  /*Following needed for hovers*/
  position: relative; }

.ieOld .posts li {
  margin-left: 3%; }

.posts li:nth-child(3n-2) {
  margin-left: 0; }

.posts li:nth-child(3n) {
  margin-right: 0; }

.posts img {
  width: 100%; }

.posts li a {
  background: url("http://unitedshapes.com/images/graph-paper/graph-paper-small.png"); }

/***************************/
.posts li a {
  overflow: hidden; }

.posts li a, .posts li a img {
  display: block;
  position: relative; }

.posts li a div {
  position: absolute;
  background: #333;
  /*Need this for browsers who don't support alpha*/
  background: rgba(75, 75, 75, 0.5);
  width: 100%;
  height: 100%; }

.posts li a div span {
  color: #f2f2f2;
  width: 100%;
  display: inline-block;
  font-size: 20px;
  padding: 8px 0 0 10px;
  text-align: left; }

.post {
  margin-bottom: 80px; }

.svg-wrapper {
  width: 400px;
  height: 400px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.shape svg {
  background: url("http://unitedshapes.com/images/graph-paper/graph-paper.png");
  border-right: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb; }

#my-gui-container {
  margin-bottom: 40px;
  float: right; }

#codepen {
  float: right;
  margin-top: 40px; }

.shape, .shape-static {
  margin-bottom: 60px; }

.post img {
  background: url("http://unitedshapes.com/images/graph-paper/graph-paper-small.png"); }

.shape-static img {
  float: left;
  max-width: 100%; }

.shape-static p {
  padding: 10px;
  background: #f2f2f2;
  margin-bottom: 40px;
  width: 250px;
  float: right; }

@media (max-width: 705px) {
  #my-gui-container {
    float: left; }

  #codepen {
    float: left; } }
/*for iphone*/
@media (max-width: 481px) {
  .svg-wrapper,
  svg {
    max-width: 250px;
    max-height: 200px; } }
@media (max-height: 361px) and (orientation: portrait) {
  .svg-wrapper,
  svg {
    width: 250px;
    max-height: 300px;
    height: 200px; } }
@media (max-height: 361px) and (orientation: landscape) {
  .svg-wrapper,
  svg {
    max-width: 150px;
    max-height: 300px;
    height: 200px; } }
.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #dd1144; }

/* Literal.String */
.highlight .na {
  color: teal; }

/* Name.Attribute */
.highlight .nb {
  color: #0086b3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: teal; }

/* Name.Constant */
.highlight .ni {
  color: purple; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: navy; }

/* Name.Tag */
.highlight .nv {
  color: teal; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144; }

/* Literal.String.Char */
.highlight .sd {
  color: #dd1144; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144; }

/* Literal.String.Double */
.highlight .se {
  color: #dd1144; }

/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: teal; }

/* Name.Variable.Class */
.highlight .vg {
  color: teal; }

/* Name.Variable.Global */
.highlight .vi {
  color: teal; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
