---
layout: default
title: A collection of shapes made with SVG
---

<ul class="posts">
	{% for post in paginator.posts %}
		<li>
			<a href="{{site.baseurl}}{{ post.url }}">
				<img class="thumbnail" src="{{site.baseurl}}/images/shapes/{{ post.name }}.svg" alt="{{ post.title }}" id="{{ post.name }}">
				<!-- Directional aware hover -->
				<div><span>{{ post.title }}</span></div>
			</a>
		</li>
	{% endfor %}
</ul>

<!-- Show a little message when we reach the end -->
{% if paginator.page == paginator.total_pages %}
	<p>
		Thanks for browsing&mdash;you've now reached the end.
		If you liked what you saw and want to get involved, head
		over to the <a href='https://github.com/Aptary/unitedshapes'>Github repo</a> to submit your own shapes.
	</p>
{% endif %}

{% include home-page-pagination.html %}

<script src='{{site.baseurl}}/javascript/home.js'></script>