<!--[if lte IE 8]>
<div class="shape-static">
	<img src="{{site.baseurl}}/images/shapes/png/{{page.name}}.png" alt="{{page.title}}">
	<p class="lte_ie8">
		If you'd like to play with an interactive SVG version of this shape, please upgrade your copy of Internet Explorer to <a href="http://www.microsoft.com/en-gb/download/internet-explorer.aspx" target="_blank">version 9 or above</a>, or try out <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>.
	</p>
	<div class="clear"></div>
</div>
<![endif]-->