{% include header.html %}

<div class="post">

	<div class="shape">
		<div class="svg-wrapper">
			<svg height='400px' width='400px'></svg>
		</div>
		<div id="my-gui-container"></div>
		<div class="clear"></div>
	</div>

	{{ content }}

</div>

{% include post-page-pagination.html %}

<script>
	var shapeName = "{{page.name}}";
</script>
<script src='{{site.baseurl}}/javascript/post.js'></script>
<script src='{{site.baseurl}}/javascript/shapes/{{page.name}}.js'></script>

{% include footer.html %}